[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
studip_sync = "python3 ./studip_sync.py"
